/*==root======================================================================================*/

:root {

    --COLOR_BG1: #FFFFFF;
    --COLOR_BG2: #F8F8F8;
    --COLOR_BG3: #000000;
    --COLOR_BG4: #303030;
    --COLOR_BG5: #E0E0E0;
    --COLOR_BG6: #929292;
    --COLOR_MAIN1: #CC3048;
    --COLOR_TEXT1: #050505;
    --COLOR_TEXT2: #1F1F1F;
    --COLOR_TEXT3: #FFFFFF;
    --COLOR_TEXT4: #000000;
    --COLOR_TEXT5: #C4C4C4;
    --COLOR_TEXT6: #929292;
    --COLOR_TEXT7: #737373;
    --COLOR_TEXT8: #646464;
    --COLOR_TEXT9: #7A7A7A;
    --COLOR_BORDER1: #E0E0E0;
    --COLOR_BORDER2: #E5E4E4;
    --COLOR_BORDER3: #929292;
}